.article-title-block {
	h1 {
		font-size: 40px;
		margin-top: 40px;
	}

	.meta-block {
		margin: 30px 0px 15px;
		.meta-info {
			margin-left: 10px;
		    font-size: 14px;
		    color: #888;
		   /* a {
		    	color: #888;
		    	&:hover {
		    		color: #333;
		    	}
		    }*/
		    .author {
		    	color: #444;
		    	font-weight: 600;
		    }
		    &.date {
		    	font-size: 18px;
		    }
		    span.by, .back-link {
		    	display: none;
		    }
		}
	}
	.back-link {
    	display: none;
    }

	&.uk-active {
		vertical-align: middle;
		border-bottom: 1px solid #ddd;
		padding: 10px 0;
		background: hsla(0,0%,100%,.95);
		z-index: 1000;
		h1 {
			font-size: 18px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.uk-border-circle {
			display: none;
		}
		.meta-desc {
			display: none;
		}
		.meta-info {
			margin-left: 0px;
		}
		.meta-block {
			margin: 0px 0px 10px !important;
		}
		span.by {
			display: inline-block !important;
		}
		.social-links {
			/*margin-top: -75px;*/
		}
		.back-link {
			display: block;
			margin-top: 5px;
		}
	}
}
.hero-image {
	width: 100%;
	margin: 20px 0px;
}
.article-content {
	font-family: 'PT Serif', serif !important;
	font-size: 20px;
	line-height: 33px;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    letter-spacing: -.003em;

	em {
		color: inherit;
		font-weight: bold;
	}
	p {
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}

	img {
		width: 100%;
	}
}

.tags-grid {
	margin-top: 20px;
	a.each-tag {
		/*padding-left: 25px;*/
		border-left: 1px solid #ddd;
		display: block;
		color: #666;
		font-size: 18px;
		line-height: 26px;
		padding: 10px 5px 10px 25px;
		&:hover {
			text-decoration: none;
			color: #1e87f0;
			/*background: rgba(0,0,0,.1);
			color: rgba(0,0,0,.6);*/
		}
	}
}