header {
	border-bottom: 1px solid #ddd;
}
.uk-logo {
	padding-left: 0px;
	font-family: 'PT Serif', serif !important;
	font-size: 24px;
	font-weight: 700;
}

footer {
	margin-top: 30px;
	/*margin-bottom: -100px;*/

	color: #8898aa;
	/*width: 100%;*/
    /*height: 300px;*/
    /*overflow: hidden;*/
    position: relative;
	background-color: #f6f9fc;
	/*background: linear-gradient(-20deg, rgb(252, 96, 118) 0%, rgb(255, 154, 68) 100%);*/
	&:after {
		/*content:'';*/
		/*background-image: -webkit-linear-gradient(top right, #5753C9 0%, #6E7FF3 100%);
		background-image: -o-linear-gradient(top right, #5753C9 0%, #6E7FF3 100%);
		background-image: linear-gradient(to bottom left, #5753C9 0%, #6E7FF3 100%);*/
		/*background-color: #f6f9fc;
		transform: skewY(-3deg);
		/*height: 300px;*/
		/*position: absolute;
		width: 100%;
		height: 100%;
		bottom: -100px;
		transform: skewY(-3deg);
		transform-origin: 0;*/
	}

	.footer-content	{
		padding-top: 60px;
		position: relative;	
		z-index: 2;
		.subscribe-module {
			h4 {
				color: #8898aa;
				font-weight: normal;
    			margin-top: 15px;
			}
		}
		
		hr {
			margin-top: 30px !important;
		}
		.social-links {
			/*margin-top: 60px;*/
			.uk-icon-button {
				box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
				background-color: #fff;
				&:hover {
					background-color: #6772e5;
					color: #fff;
				}
			}
		}

		.primary-links {
			/*margin-bottom: 25px;*/
			li {
				display: inline-block;
				margin-right: 20px;
				margin-top: -10px;
			}
		}

		.copyright {
			margin-bottom: 25px;
		}
	} 
}